.animationImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  animation: wipe-cinematic-in 4s 0s;
  z-index: 2;
}
.image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

@keyframes wipe-cinematic-in {
  0% {
    clip-path: inset(100% 0 100% 0);
    transform: scale(1, 0.7);
  }
  25% {
    clip-path: inset(75% 0 75% 0);
    transform: scale(1, 0.8);
  }
  50% {
    clip-path: inset(50% 0 50% 0);
    transform: scale(1, 0.9);
  }
  100% {
    clip-path: inset(0 0 0 0);
    transform: scale(1, 1);
  }
}
